
        <main>
            <section id="my-posts">
                <h1>My post</h1>

                <div class="my-container">
                    <!-- If there are own posts in the database display each of them -->
   
                    {{#if data}}
                        {{#each data}}
                            {{>profileTemplate}}
                        {{/each}}
                    {{else}}
                        <div class="no-posts">
                            <p class="no-offer">There are no own posts yet...</p>
                        </div> 
                    {{/if}}

                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Exam 2023
        </footer>
    </div>

</body>

</html>